.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
  }
  
  .book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease;
    
  }
  
  .book-card:hover {
    transform: translateY(-4px);
  }
  
  .book-card img {
   
    object-fit: cover;
    border-radius: 4px;
    width: 114px;
    height: 162px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);

  }
  
  .book-title {
    color:#333333;
    margin-top: 0.5rem;
    font-size: 12px;
    font-weight:bold;
  }
  
  .book-author {
    font-size: 12px;
    color: #A0A0A0;
    margin-top:0.4rem;
  }
  .header-section-books{
    display:flex;
    align-items: center;
    gap: 20px;
  }
  .search-box{
    max-height:3rem;
  }
  mat-form-field.small {
    --mat-form-field-container-height: 40px;
    --mat-form-field-container-vertical-padding: 8px;
    --mat-form-field-container-width: 100%;
  }
  .search-box {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  
  .search-box .mat-form-field {
    width: 100%;
  }
  
  .search-box .mat-input-element {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  mat-form-field.mat-mdc-form-field.small.mat-mdc-form-field-type-mat-input.mat-mdc-form-field-has-icon-prefix.mat-form-field-appearance-fill.mat-primary.ng-untouched.ng-pristine.ng-valid.mat-form-field-animations-enabled {
    width: 100%;
}
  
  
 
  